.about-me {
  .intro {
    // @include media($medium) {
    //   @include span-columns (3 of 8);
    //   @include omega();
    // }

    h2 {
      margin: 1em 0 .25em;
    }

    img {
      @include media($small) {
        float: none;
        width: 100%;
      }

      float: left;
      margin: 0 1em 1em 0;
      width: 50%;
    }

    p {
      margin: 0 0 1em;
    }
  }

}
