
// General
body {
  @include font(1, left);
  background: $off-white;
  color: $off-black;
}

a {
  color: $off-black;
  text-decoration: none;

  &:hover {
    color: $dk-teal;
    text-decoration: underline;
  }
}

//Site Header
header {
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;

  a {
    &:hover {
      color: $off-black;
    }
  }
}

hr {
  border: 1px solid $orange;
  clear: both;
  margin: 1.5em 0;
}

img {
  width: 100%;
}



