
// General
body {
  @include font(1, left);
  background: $off-white;
  color: $off-black;
}

a {
  color: $off-black;

  &:hover {
    color: $orange;
  }
}

//Site Header
header {
  border-bottom: 1px solid $off-black;
  margin: 0;
  padding: 0;

  a {
    &:hover {
      color: $off-black;
    }
  }

  &.post-header {
    border-color: $orange;
  }
}

hr {
  border: 1px solid $orange;
  clear: both;
  margin: 1.5em 0;
}

img {
  width: 100%;
}

 
h2, 
h3, 
h4 {
  margin: 0 0 1em;
}

