footer {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.social {
  @include font(1, center);
  @include letter-space(3);
  ul li {
    display: inline-block;
  }
}
