.site-title {
  padding: 0.25em;
  h1 {
    @include font(2, center);
    color: $off-black;
    text-align: center;
  }
}

.center-text {
  text-align: center;
}

//Top Navigation Bar
nav {
  @include font(1, center);
  color: #000;
  text-align:center;

  @include div-grid($large, 12, 4);
}


.page-link {
  display: inline-block;
  border-right: 1px solid;
  padding: 0 0.75em;

  &:last-child {
    border-right: none;
    padding: 0 0 0 0.75em;
  }

  i {
    &:hover {
      color: $orange;
    }
  }
}

