.site-title {
  padding: .25em;

  h1 {
    @include font(2, center);
    color: $off-black;
    text-align: center;
  }
}

.center-text {
  text-align: center;
}

//Top Navigation Bar
nav {
  @include list-grid($medium, 12, 4);
  @include font(1, center);
  color: #000;
  margin-bottom: .5em;
  text-align: center;
}


.page-link {
  border-right: 1px solid;
  display: inline-block;
  padding: 0 .75em;

  &:last-child {
    border-right: 0;
    padding: 0 0 0 .75em;
  }

  i {
    &:hover {
      color: $orange;
    }
  }
}

