
// General
body {
  color: $off-black;
  background: $off-white;
  @include font(1, left);
}

a {
  color: $off-black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $dk-teal;
  }
}

//Site Header
header {
  background: $dk-teal;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  a {
    &:hover{
      color: $off-black;
    }
  }
}

hr {
  border: 1px solid $orange;
  margin: 1.5em 0;
  clear: both;
}

img {
  width: 100%;
}



