* {
  margin: 0;
  padding: 0;
}
// body {
//   color: $offBlack;
//   background: $offWhite;
// }
header.site-header {
  background: $dk_teal;
  border-bottom: 1px solid;
  a {
    color: $offBlack;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
header.site-header:after {
  content:"";
  visibility: hidden;
  clear: both;
}
div.site-title {
  padding: 0.25em;
  display: inline-block;
  h1 {
    font: 500 2em Helvetica;
    letter-spacing: -0.11em;
    text-align: left;
    color: $offBlack;
  }
}

nav.site-nav {
  font: 400 1em Helvetica;
  display: inline-block;
  margin-left: 60%;
}
div.page-link {
  display: inline-block;
  border-right: 1px solid;
  padding: 0 0.75em;
  &:last-child {
    border-right: none;
    padding: 0 0 0 0.75em;
  }
}