
// General
body {
  color: $offBlack;
  background: $offWhite;
  font: 300 1em Helvetica;
}
hr.orange {
  border: 1px solid $orange;
  margin: 1.5em 0;
  clear: both;
}

//Site Header
header.site-header {
  background: $dk_teal;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  a {
    color: $offBlack;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
div.site-title {
  padding: 0.25em;
  h1 {
    font: 300 2em Helvetica;
    letter-spacing: 0.5em;
    text-align: center;
    color: $offBlack;
  }
}

//Top Navigation Bar
nav.site-nav {
  font: 400 1em Helvetica;
  color: #000;
  text-align:center;
}
div.page-link {
  display: inline-block;
  border-right: 1px solid;
  padding: 0 0.75em;
  &:last-child {
    border-right: none;
    padding: 0 0 0 0.75em;
  }
}

//List of Posts
ul.posts {
  padding: 1em;
  li {
    list-style: none;
    padding: 0;
    margin-right: 1em;
    @include media($desktop) {
      margin: 0;
    }
  }
}
.post-title {
  h2 {
    font: 300 1.5em Helvetica;
    margin: 0;
  }
  a {
    color: $offBlack;
  }
  a:hover {
    color: $gray;
  }
}
.post-date {
  margin-top: 1em;
  font-style: italic;
  color: $lt_teal;
}
.post-excerpt {
  p { 
    margin: 0 0 1em 0; 
  }
}

