* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header div.wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em; }
  header div.wrap:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (max-width: 768px) {
  div.site-title {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-left: 25.89467%; }
    div.site-title:last-child {
      margin-right: 0; } }

.home {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .home:after {
    content: "";
    display: table;
    clear: both; }

div.page-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  div.page-content:last-child {
    margin-right: 0; }

* {
  margin: 0;
  padding: 0; }

header.site-header {
  background: #bdcfbd;
  border-bottom: 1px solid; }
  header.site-header a {
    color: #404040;
    text-decoration: none; }
    header.site-header a:hover {
      text-decoration: underline; }

header.site-header:after {
  content: "";
  visibility: hidden;
  clear: both; }

div.site-title {
  padding: 0.25em;
  display: inline-block; }
  div.site-title h1 {
    font: 500 2em Helvetica;
    letter-spacing: -0.11em;
    text-align: left;
    color: #404040; }

nav.site-nav {
  font: 400 1em Helvetica;
  display: inline-block;
  margin-left: 60%; }

div.page-link {
  display: inline-block;
  border-right: 1px solid;
  padding: 0 0.75em; }
  div.page-link:last-child {
    border-right: none;
    padding: 0 0 0 0.75em; }
