* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.home {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .home:after {
    content: "";
    display: table;
    clear: both; }

div.page-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  div.page-content:last-child {
    margin-right: 0; }

* {
  margin: 0;
  padding: 0; }

header.site-header {
  font: 500 1.4em Helvetica;
  text-align: left;
  background: #bdcfbd; }
  header.site-header a {
    color: #000;
    text-decoration: none; }
    header.site-header a:hover {
      color: #96CDCD; }
  header.site-header h1 {
    font: 500 2em Helvetica;
    letter-spacing: -0.11em;
    color: #CCCCCC; }

.site-nav {
  text-align: right; }
