<footer class="site-footer">

  <div class="wrap">
    <div class="social">
      <ul>
        <li>
          <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i>  {{ site.email }}</a>
        </li>
        <li>
          <a href="http://instagram.com/{{ site.insta_username }}"><i class="fa fa-instagram"></i> {{ site.insta_username }}</a> 
        </li>
        <li>
          <a href="http://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> {{ site.twitter_username }}</a> 
        </li>
        <li>
          <a href="http://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> {{ site.github_username }}</a> 
        </li>
      </ul>    
    </div>


  </div>

</footer>
